nav{
    width: 1140px;
    height: 71px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.nav-items{
    width: 415px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-div{
    width: 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.black{
    color: black;
}

.light-gray{
    color: #8987A1;
}

.orange{
    color: #E95A08;
}

.gray{
    color: rgba(0, 0, 0, 0.5);
}

a{
    text-decoration: none;
}

.banner{
    width: 1140px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.text-title{
    font-size: 4rem;
    font-weight: 700;
}

.main-text{
    font-size: 1.5rem;
}

.display-section{
    width: 1140px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.heading, .heading-text{
    text-align: center;
}

.heading{
    font-size: 3rem;
    font-weight: 700;
}

.heading-text{
    font-size: 1.5rem;
}

.card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}

.cards{
    margin-bottom: 30px;
}

.cards>p, .cards>h3{
    text-align: center;
}

.btn-primary{
    border: none;
    width: 270px;
    background-color: #E95A08;
    color: white;
    padding: 25px 50px;
    font-weight: 700;
}

.lover-section{
    width: 1140px;
    margin-top: 210px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.lover-img{
    width: 540px;
    height: 597px;
}
.trusted-img{
    width: 286px;
    height: 286px;
    position: absolute;
    transform: translate(140%, -50%);
}

.lover-text>ul>h1{
    font-size: 3.1rem;
    font-weight: 700;
}

.lover-text>ul>li{
    margin-left: 30px;
    padding-bottom: 20px;
}

.lover-text>ul>li{
    font-size: 1.5rem;
}

.latest-deal{
    width: 1140px;
    margin-top: 134px;
    margin-left: auto;
    margin-right: auto;
}

.deal-text>h1{
    font-size: 3.1rem;
    font-weight: 700;
    text-align: center;
}

.deal-text>p{
    width: 888px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5rem;
}

.plant-img{
    width: 1140px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.small-img{
    display: block;
}

.small-deal-img-one, .small-deal-img-two{
    border-radius: 14px;
}

.small-deal-img-one{
    margin-bottom: 20px;
}

.big-img>img{
    border-radius: 22px;
}

.footer-img{
    height: 533px;
    background-image: url('../assets/news-letter-bg.png');
}

.footer-img>h1{
    padding-top: 200px;
    text-align: center;
    font-size: 3.1rem;
    font-weight: 700;
    color: white;
}

.input-section{
    display: flex;
    margin-left: 305px;
    height: 50px;
}

.input-section>input{
    width: 644px;
    padding: 10px;
}

.input-section>button{
    width: 186px;
    padding: 19px 53.5px;
}

@media (max-width:412px) {
    nav{
        width: 361px;
        height: 38px;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .nav-items>.home, .nav-items>.aboutus, .nav-items>.shop{
        display: none;
    }
    .nav-items{
        width: 113px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cart-div{
        width: 113px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .banner{
        display: block;
        width: 412px;
    }
    .banner-img>img{
        width: 412px;
    }
    .banner-text{
        width: 361px;
        margin: auto;
    }
    .text-title{
        font-size: 1.5rem;
    }
    .main-text{
        font-size: 0.9rem;
    }
    .display-section{
        width: 412px;
        margin: 0 17px;
    }
    .heading{
        font-size: 1.5rem;
    }
    .heading-text{
        width: 361px;
        font-size: 0.9rem;
    }
    .card{
        width: 361px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 28px;
        gap: 20px;
    }
    .cards{
        width: 171px;
    }
    .cards>img{
        width: 100%;
    }
    .btn-primary{
        width: 171px;
        padding: 10px 20px;
        font-weight: 600;
    }
    .lover-section{
        display: block;
        width: 361px;
        margin-top: 41.5px;
        margin-left: auto;
        margin-right: auto;
    }
    .lover-img>.trusted-img{
        display: none;
    }
    .lover-img-real{
        width: 361px;
    }
    .lover-text{
        margin-top: -180px;
        margin-left: -30px;
        margin-right: auto;
    }
    .lover-text>ul>h1{
        font-size: 1.5rem;
    }
    .lover-text>ul>li{
        font-size: 0.9rem;
    }
    .latest-deal{
        width: 361px;
        margin-top: 0px;
    }
    .deal-text>h1{
        font-size: 1.5rem;
    }
    .deal-text>p{
        width: 361px;
        font-size: 0.9rem;
        text-align: center;
    }
    .plant-img{
        width: 361px;
        display: block;
        margin-top: 0px;
    }
    .big-img>img{
        width: 361px;
        margin-top: 20px;
        border-radius: 14px;
    }
}